/* 그리드 설정 */
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
}

/* 미디어 설정 */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 박스 설정 */
.box {
  background-color: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1.2rem;
}
